.margin-top-0 {
  margin-top: 0 !important;
}

.marginAll{
  margin: 1%;
}

.background-blok{
  text-align: center;
  width: 100vh;
  height: 400px;
  background-attachment: fixed;
}

footer{
    padding: 0 4vw;
    margin-top: 1vw;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: #000;
    
}

.full-width-image-container{
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerAll{
  text-align: center;
  transform: translate(0px, -40px);
  margin: 0 15%;
}

.centerPost{
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin: 0 15%;
}

.full-width-image{
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.full-triangle::after{
  content: "";
  border-bottom: 1150px solid #fff;
  border-left:1350px solid transparent;
  margin: 0 auto;
  transform: translate(0vh, 0);
}

.full-width-image-post{
  width: 100vw;
  max-height: 720px;
}

.img-blok{
  text-align: center;
  width: 100vh;
  max-height:200px;
}

.link{
  display: block;
  color: black;
  text-decoration: none;
}
.link:hover{
  color: #61d1e5;
}

.linkStyle{
  display: block;
  color: black;
  background: #55555544;
  padding: 10px;
  margin: 2%;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.linkStyle:hover{
  color: white;
  text-shadow: 1px 1px 2px black;
  background-color: #61d1e554;
}
.linkStyle>a:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.description-wrpaer{
  text-indent: 150px; 
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  z-index: 100;
  margin: 0 35vw;
  text-align: center;
  transform: translate(0vh, -20vh);	
  background: white;
}

.blog-wtraper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  letter-spacing: 1px;
  grid-gap: 50px;
  transform: translate(0vh, 0vh);
}

.blog-touch{
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  z-index: 100;
  background-color: #fff;
  transition: transform .2s;
}

.blog-touch:hover{
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 5px 10px #61d1e555;
}

.blog-touch:hover{
  transform: translate(0px, -20px) scale(1.1);
}

@media(max-width: 1025px){
  .blog-wtraper{
    grid-template-columns: repeat(2, 1fr);
    transform: translate(0vh, -2vh); 
  }
  .description-wrpaer{
    font-size: 30px;
    box-shadow: 0 0px 0px;
    width: 60%;
    margin:0;
  }
  .full-width-image{
    height: 200px;
  }

@media(max-width: 600px){
  .blog-wtraper{
    grid-template-columns: repeat(1, 1fr);
    transform: null;
  } 
  .description-wrpaer{
    transform: translate(0vw, 0vw);
    width: 80vw;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    font-size: 15px;
    margin:5% 8%;
  }
  .centerAll{
    transform: translate(0px, 0px);
    margin:0 5%;
  }

  .centerPost {
    margin:0 5%;
  }
}}